fastapi
uvicorn
python-dotenv
pydantic
groq
httpx
python-multipart
pandas
openpyxl
chromadb==0.4.24
sentence-transformers
pymupdf
requests
pillow
google-generativeai
pytigergraph
numpy<2.0
mcp
anthropic